<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328403122644-ju3m64d2tap2k07udmaghnamp5rnbfqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328403122644-ju3m64d2tap2k07udmaghnamp5rnbfqc</string>
	<key>API_KEY</key>
	<string>AIzaSyB9NR80gMMpNry2X1fNkXYtD4HV4aZWPp8</string>
	<key>GCM_SENDER_ID</key>
	<string>328403122644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angelflores.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-a4c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-a4c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328403122644:ios:ee2265ce7169f16a</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-a4c1c.firebaseio.com</string>
</dict>
</plist>